.App {
  text-align: center;
}

body {
  background-image: url(./components/imgs/pier-14-1995036_1920.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
